parameters:
	ignoreErrors:
		-
			message: '#^Comparison operation "\<" between 0 and 0 is always false\.$#'
			identifier: smaller.alwaysFalse
			count: 1
			path: src/Lapackb.php

		-
			message: '#^Comparison operation "\>" between 0 and 0 is always false\.$#'
			identifier: greater.alwaysFalse
			count: 1
			path: src/Lapackb.php

		-
			message: '#^Loose comparison using \!\= between 0 and 0 will always evaluate to false\.$#'
			identifier: notEqual.alwaysFalse
			count: 1
			path: src/Lapackb.php
